In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
train=pd.read_csv('Train.csv')
test=pd.read_csv('Test.csv')

In [3]:
train.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,labels
0,-0.276515,-0.424429,1.344997,-0.012283,0.076230,1.076648,0.182198,3,0,1,0,0,0,0,10,2,1
1,0.853573,0.150991,0.503892,-0.979179,-0.569351,-0.411453,-0.251940,4,1,2,0,1,0,0,0,3,0
2,0.947747,-0.173832,1.825628,-0.703478,0.076230,-0.411453,-0.251940,6,1,2,0,0,0,0,5,3,0
3,0.853573,-0.381404,0.984523,-0.039464,-0.569351,-0.411453,-0.251940,4,0,2,0,1,0,0,5,3,0
4,1.324443,1.590527,-1.178318,-0.097711,-0.246560,-0.411453,-0.251940,0,1,1,0,0,0,0,8,3,0

In [4]:
X=train.drop('labels',axis=1)

In [5]:
X.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15
0,-0.276515,-0.424429,1.344997,-0.012283,0.076230,1.076648,0.182198,3,0,1,0,0,0,0,10,2
1,0.853573,0.150991,0.503892,-0.979179,-0.569351,-0.411453,-0.251940,4,1,2,0,1,0,0,0,3
2,0.947747,-0.173832,1.825628,-0.703478,0.076230,-0.411453,-0.251940,6,1,2,0,0,0,0,5,3
3,0.853573,-0.381404,0.984523,-0.039464,-0.569351,-0.411453,-0.251940,4,0,2,0,1,0,0,5,3
4,1.324443,1.590527,-1.178318,-0.097711,-0.246560,-0.411453,-0.251940,0,1,1,0,0,0,0,8,3

In [6]:
y=train['labels']

In [7]:
X.shape

(33908, 16)

In [8]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.04)

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
model=DecisionTreeClassifier()

In [11]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [12]:
y_pred=model.predict(X_test)

In [13]:
model.score(X_test,y_test)

0.8769344141488578

In [14]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

RMSE: 0.350807

In [15]:
from sklearn import metrics 
from sklearn.metrics import f1_score

In [16]:
metrics.accuracy_score(y_test,y_pred)*100

87.69344141488577

In [17]:
f1_score(y_test,y_pred,average='macro')

0.6705989915301909

In [18]:
f1_score(y_test, y_pred, average='micro')

0.8769344141488578

In [19]:
"""Micro-average of precision = (TP1+TP2)/(TP1+TP2+FP1+FP2)
Micro-average of recall = (TP1+TP2)/(TP1+TP2+FN1+FN2)
TP=True Positive FP=False Positive FN=False Negative
In Micro-average method, you sum up the individual true positives, false positives,and
false negatives of the system for different sets and the apply them to get the statistics."""

'Micro-average of precision = (TP1+TP2)/(TP1+TP2+FP1+FP2)\nMicro-average of recall = (TP1+TP2)/(TP1+TP2+FN1+FN2)\nTP=True Positive FP=False Positive FN=False Negative\nIn Micro-average method, you sum up the individual true positives, false positives,and\nfalse negatives of the system for different sets and the apply them to get the statistics.'

In [20]:
f1_score(y_test, y_pred, average=None)

array([0.93130399, 0.40989399])

In [21]:
result = model.predict(test)
result.shape

(11303,)

In [22]:
result = pd.DataFrame(result, columns=['labels']).to_excel('descisiontreemodel.xlsx')

In [23]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.93      0.93      1221
           1       0.39      0.43      0.41       136

    accuracy                           0.88      1357
   macro avg       0.67      0.68      0.67      1357
weighted avg       0.88      0.88      0.88      1357